.footer {
    text-align: center;
    padding: 0.2rem;
    background:linear-gradient(0deg, rgb(180, 178, 178) 0%, #f4efeb 100%);
    color: hsla(0, 0%, 0%, 0.553);
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
/* Mobile */
@media (max-width: 480px) {
    .footer {
        padding: 0.1rem;
        font-size: 0.8rem;
    }
}
  