* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #f4efeb;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f4efeb;
  font-family: Arial, Helvetica, sans-serif;
}

#__next, /* For Next.js root element */
main {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
